HOST=0.0.0.0
PORT=1337
APP_KEYS=CsIplKWoThBq5gYWwnrVQg==,aGw7/M8/Cf+g+3AU7gyiwQ==,IUWV+xl3/IFOQOntJ/qeGA==,mD/5r77fiYMdfoZiPw3hTw==
API_TOKEN_SALT=SA0QzTJX3z3baKCF45586A==
ADMIN_JWT_SECRET=BH0+xkPpXJfoQ5vC8HCQ8w==
JWT_SECRET=Sx/p0LPdn+7qmzPcjHxqBA==
AWS_ACCESS_KEY_ID=AKIAU3KFV5EB35LNRD5X
AWS_ACCESS_SECRET=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
AWS_REGION=ap-southeast-1
AWS_BUCKET=wave-strapi-staging-s3-bucket
# PUBLIC_URL=https://testcontent.wavemoney.io
NOTIFICATION_TOKEN =key=AAAAkM1pIg4:APA91bEU2iI7ceLy6q3KUvHTTeLNfzrqaYcxL4UcxolpTdOHCPspkvFAjFFoZEzSLG5M29PvXIHSVCVF9YhvDzTMDTeQgYQAKDI7R-m2MDtRVe4RdgRbMWwsGMWXyGoRz-uoeYDopZ0Y
NOTIFICATION_TO =f1I2spuEQKqKbaRTV8dPuv:APA91bFikoqsFJOcM9i--b9zmRJSVQqnbBJMZukZlNglvfph9PDI8AU6eAH8dWjzXoLfh5wEk4s5nETV1FMkNDeYRcgO4jEVjVjUQ3nMvRhZcb_KjFtC_Q_VAA80DyU5-WrAbDcmfrzT
